*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #243642;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #e9e9e9;
}

.container-right{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-left{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 8px 8px 8px 0px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
}

.container-left h1, .container-left p{
    text-align: center;
}

.container-left .logo{
    margin-top: 40px;
    text-align: center;
}

.container-left p{
    font-size: 10px;
}

.container-left .style-input{
    width: 100%;
    margin-top: 40px;
}

.container-left .style-input label {
    position: relative; 
}

.container-left .style-input label input {
    border: none;
    border-radius: 0;
    padding-bottom: 5px;
    background-color: transparent;
    width: 100%;
    box-shadow: none;
    outline: none;
}

.container-left .style-input label span { 
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #243642;
    pointer-events: none; 
    margin-left: -0.5px;
}

.container-left .style-input label p{
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    left: 0;
    pointer-events: none;
    transition: transform 0.3s ease;
}

.container-left .style-input label:focus-within p {
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.container-left .style-input label.has-value p {
    transform: translateY(-20px);
}

.container-left .after-input{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-left .after-input .rememberme-style {
    display: flex;
    align-items: center;
    gap: 3px;
}

.container-left .after-input .rememberme-style span{
    font-size: 10px;
}

.container-left .after-input .forget-style a{
    font-size: 10px;
    color: #243642;
}

.submit-button {
    border: 1.5px solid #243642;
    margin-top: 20px;
    width: 100%;
    background-color: #243642;
    color: white;
    padding: 15px 0;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.submit-button:hover{
    background-color: white;
    color: #243642;
}

.sign-up{
    font-size: 11px !important;
    color: #243642;
}

.sign-up a{
    color: #243642;
    font-weight: 500;
}



@media (max-width: 768px) { 

    .container-left {
        margin-left: 8px !important;
    }

    .container-right {
        display: none;
        width: 100%;
        height: 100vh;
    }
}

